header {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
    height: 50px;
    justify-content: end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
    nav {
      display: none;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
      padding: 10px;
    }
    nav ul {
      flex-direction: column;
    }
    nav li {
      margin: 10px 0;
    }
  }
  
  @media only screen and (min-width: 769px) {
    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .menu-toggle {
      display: none;
    }
  } 
