<div class="main">
    <img id="gitIcon" alt="Avatar" src="assets/github.svg">
    <h2>Github API</h2>
    <form (ngSubmit)="onSubmit()">
        <input [(ngModel)]="name" name="name" type="text" id="name" >
        <button type="submit">PESQUISAR</button>
    </form>

    <div *ngIf="userInfo" class="profilebox">
        <img id="imgProfile" alt="Avatar" [src]="userInfo.avatar">
        <div>
            <h1 class="profile-name">{{userInfo.name}} ({{userInfo.login}})</h1>
            <h3>{{userInfo.bio}}.</h3>
            <div class="info">
                <h3>Seguidores <br/> {{userInfo.followers}}</h3>  
                <h3>Seguindo <br/> {{userInfo.following}}</h3> 
                <h3>Repositorios Publicos <br/> {{userInfo.public_repos}}</h3>
            </div>
            
            <img class="resume" alt="{{userInfo.name}} github stats." src="https://github-readme-stats.vercel.app/api?username={{userInfo.login}}&show_icons=true&hide_border=true&theme=dracula" /><br/>
            <img class="resume" src="https://github-readme-stats.vercel.app/api/top-langs/?username={{userInfo.login}}&layout=compact&theme=dracula" />
            
            <button id="repos" type="submit" (click)="navigateTo()">REPOSITORIOS</button>
        </div>
    </div>
</div>
